In [1]:
import pandas as pd 
from bs4 import BeautifulSoup 
import requests

In [4]:
result=requests.get('https://wuzzuf.net/search/jobs/?a=navbg&q=data%20analyst&start=')  
src=result.content 
soup=BeautifulSoup(src,"lxml")

In [5]:
job_title=soup.find_all("h2",{"class":"css-m604qf"}) 
company_name=soup.find_all("a",{"class":"css-17s97q8"})
company_location=soup.find_all("span",{"class":"css-5wys0k"})
job_skills=soup.find_all('div', attrs={'class': None})
job_nature=soup.find_all("span",{"class":"css-1ve4b75 eoyjyou0"})

In [6]:
titles=[] 
names=[]
locations=[] 
nature=[]
skills=[]

In [7]:
for i in range(len(job_title)) : 
    titles.append(job_title[i].text) 
    names.append(company_name[i].text)
    locations.append(company_location[i].text)
    nature.append(job_nature[i].text)

In [8]:
for i in range(6,21) : 
      skills.append(job_skills[i].text)

In [9]:
for i in range(10) : 
    result=requests.get(f'https://wuzzuf.net/search/jobs/?a=navbg&q=data%20analyst&start={i}')  
    src=result.content 
    soup=BeautifulSoup(src,"lxml")
    job_title=soup.find_all("h2",{"class":"css-m604qf"}) 
    company_name=soup.find_all("a",{"class":"css-17s97q8"})
    company_location=soup.find_all("span",{"class":"css-5wys0k"})
    job_skills=soup.find_all('div', attrs={'class': None})
    job_nature=soup.find_all("span",{"class":"css-1ve4b75 eoyjyou0"}) 
    
    for i in range(len(job_title)) : 
        titles.append(job_title[i].text) 
        names.append(company_name[i].text)
        locations.append(company_location[i].text)
        nature.append(job_nature[i].text)
    
    for i in range(6,21) : 
        skills.append(job_skills[i].text)

In [10]:
wuzzuf={'job_title':titles,'company_name':names,'company_location':locations,'job_nature':nature,'job_skills':skills}

In [11]:
wuzzuf=pd.DataFrame(wuzzuf)

In [12]:
wuzzuf

,job_title,company_name,company_location,job_nature,job_skills
0,Senior Data Analyst,Sceel.io -,"Maadi, Cairo, Egypt",Full Time,Experienced · 3 - 7 Yrs of Exp · IT/Software D...
1,Data Analyst,ITCan -,"Rehab City, Cairo, Egypt",Full Time,Experienced · 2 - 5 Yrs of Exp · Analyst/Resea...
2,Export Data Analyst,Evyap Egypt -,"Sheraton, Cairo, Egypt",Full Time,Experienced · 3 - 5 Yrs of Exp · Sales/Retail ...
3,Data Analyst,The Address Investments for Real Estate Consul...,"New Cairo, Cairo, Egypt",Full Time,Experienced · 2 - 5 Yrs of Exp · IT/Software D...
4,Data Analyst,The Egyptian Microfinance Company- Maksab -,"New Cairo, Cairo, Egypt",Full Time,Experienced · 1 - 3 Yrs of Exp · Accounting/Fi...
...,...,...,...,...,...
160,Financial Planning And Analysis Senior Manager,Confidential -,"Maadi, Cairo, Egypt",Internship,Manager · 10 - 12 Yrs of Exp · Accounting/Fina...
161,Market Research Executive,Arma Non Food -,"Maadi, Cairo, Egypt",Full Time,Entry Level · 2 - 5 Yrs of Exp · Marketing/PR/...
162,Cost Accountant,Confidential -,"10th of Ramadan City, Sharqia, Egypt",Full Time,Experienced · 5 - 7 Yrs of Exp · Accounting/Fi...
163,Accounting Supervisor,Confidential -,"New Nozha, Cairo, Egypt",Full Time,Experienced · 3 - 5 Yrs of Exp · Accounting/Fi...
164,Cost Accountant,Confidential -,"Maadi, Cairo, Egypt",Full Time,Experienced · 4 - 5 Yrs of Exp · Accounting/Fi...

In [13]:
WUZZUF.to_csv('WUZZUF.csv',index=False)

NameError: name 'WUZZUF' is not defined